
body {
    font-family: Arial, sans-serif;
    margin: 170px;
}

h1 {
    color:black;
    margin-bottom: 25px;
    font-size: 25px;
    text-align:center

}
h1.UT{
    font-size: 19px !important;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],input[type="password"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}


.Btn button{
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #4e59f3;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 6px ;
    transition: .5s;
}

.Btn input , .Btn button hover{
    background-color: rgb(17, 17, 240);
}
a{
    text-align: none;
    text-decoration: none;
    color: #fff;
}
input[type="date"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.bnt{
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(17, 17, 240);
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 6px ;

}
input.cc {
    width: 120px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #4e59f3;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 6px ;

}
.option {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select option {
    padding: 8px;
}